<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 공유하기 | Pet Cares</title>

    <!-- css -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/fonts.css">
    <link rel="stylesheet" href="./assets/css/reset.css">

    <!-- script -->
</head>

<body>
    <div id="wrap">
        <div class="header"></div>
        <div id="contents">
            <aside class="category">
                <p>카테고리 선택</p>
            </aside>
            <section class="board">
                <p>게시판 내용
                    회원가입 안해도 접근 가능한대신 글쓰기나 댓글은 회원가입해야 작성가능
                </p>
            </section>
            <aside class="adding">
                <p> 여분공간 (쓸 수도 있고 뺄 수도 있음)</p>
            </aside>
            <footer id="footer"></footer>
        </div>
    </div>

    <!-- script -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9072a8bb4b56b5b44afb6d6d37a0b2e7"></script>
    <script src="./assets/js/header.js"></script>
    <script>
        const cookies = "<%= cookie %>";
        if (cookies === "false") {
            document.querySelector(".log").innerHTML = "로그인";
            document.querySelector(".log").href = "/login";
        } else {
            document.querySelector(".log").innerHTML = "로그아웃";
            document.querySelector(".log").href = "/logout";
        }
    </script>

</body>
</html>