<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 근처 병원찾기 | Pet Cares</title>

    <!-- css -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/fonts.css">
    <link rel="stylesheet" href="./assets/css/reset.css">

    <!-- script -->
</head>

<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo"><a href="http://localhost:5000/"><img src="./assets/img/petCaseLogo.png" width="30" height="30">Pet <em>Cares</em></a></h1>
            <div class="menu">
                <ul>
                    <li><a href="/findMaps">내 근처 병원찾기</a></li>
                    <li><a href="/board">내 정보 공유하기</a></li>
                    <li><a href="#">미구현</a></li>
                    <li><a href="#">미구현</a></li>
                </ul>
            </div>
            <div class="member">
                <a href="#">회원가입</a>
                <a href="#">로그인</a>
            </div>
        </header>
        <!-- //header -->

        <div id="map" style="width:600px;height:400px;"></div>
    </div>

    <!-- script -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9072a8bb4b56b5b44afb6d6d37a0b2e7"></script>
    <script>

        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(37.3183169898, 126.8352), //지도의 중심좌표.
            level: 4 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
        
        let logt = "<%= JSON.stringify(logt) %>";
        let lat = "<%= JSON.stringify(lat) %>";
        let name = "<%= JSON.stringify(name) %>";
        logt = JSON.parse(logt.replaceAll("&#34;",'\"'))
        lat = JSON.parse(lat.replaceAll("&#34;",'\"'))
        name = JSON.parse(name.replaceAll("&#34;",'\"'))
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
        for (let i = 0; i<=Object.keys(logt).length; i++){
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35); 
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 

            // 마커 위치를 설정합니다.

            console.log(logt[i],lat[i])
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: new kakao.maps.LatLng(lat[i],logt[i]), // 마커를 표시할 위치
                title : name[i], // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image : markerImage // 마커 이미지 
            });
        }
        
    </script>
</body>
</html>