<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면 | Pet Cares</title>

    <!-- css -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/fonts.css">
    <link rel="stylesheet" href="./assets/css/reset.css">

    <!-- script -->
</head>

<body>
    <div id="wrap">
        <header class="header"></header>
        <!-- Banner section start -->
        <section class="banner" style="background-image: url(images/bg-1.jpg)">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 order-1 order-md-0">
                        <div class="banner-content">
                            <span class="tagline">ultimate collection</span>
                            <h1>Complete Women Fashion Here</h1>
                            <a href="#" class="btn-default">shop now</a>
                        </div>
                    </div>
                    <div class="col-md-6 order-0 order-md-1">
                        <div class="ban-img">
                            <img src="images/ban-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner section end -->
        <div id="contents"></div>
        <footer id="footer"></footer>
    </div>
    <!-- script -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9072a8bb4b56b5b44afb6d6d37a0b2e7">
    </script>
    <script src="./assets/js/header.js"></script>
    <script>
        const cookies = "<%= cookie %>";
        if (cookies === "false") {
            document.querySelector(".log").innerHTML = "로그인";
            document.querySelector(".log").href = "/login";
        } else {
            document.querySelector(".log").innerHTML = "로그아웃";
            document.querySelector(".log").href = "/logout";
        }
    </script>

</body>

</html>