<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면 | Pet Cares</title>

    <!-- css -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/fonts.css">
    <link rel="stylesheet" href="./assets/css/reset.css">

    <!-- script -->
</head>

<body>
    <div id="wrap">
        <header class="header"></header>
        <!-- Banner section start -->
        <section id="banner">
            <div class="ban-img"></div>
        </section>
        <!-- Banner section end -->
        <div id="contents"></div>
        <footer id="footer">
            <div class="container">
                <div class="footer-wrap">
                    <div>
                        <h3>레이아웃 영역</h3>
                        <ul>
                            <li>레이아웃 유형 01</li>
                            <li>레이아웃 유형 02</li>
                            <li>레이아웃 유형 03</li>
                            <li>레이아웃 유형 04</li>
                            <li>레이아웃 유형 05</li>
                        </ul>
                    </div>
                    <div>
                        <h3>메뉴 영역</h3>
                        <ul>
                            <li>메뉴 유형 01</li>
                        </ul>
                    </div>
                    <div>
                        <h3>메인 영역</h3>
                        <ul>
                            <li>이미지 유형 01</li>
                            <li>동영상 유형 02</li>
                            <li>슬라이드 유형 03</li>
                        </ul>
                    </div>
                    <div>
                        <h3>컨텐츠 영역</h3>
                        <ul>
                            <li>텍스트 유형01</li>
                            <li>이미지 유형02</ll>
                            <li>이미지/텍스트 03</li>
                            <li>카드 유형04</li>
                            <li>배너 유형05</li>
                        </ul>
                    </div>
                    <div>
                        <h3>푸터 영역</h3>
                        <ul>
                            <li>컨텐츠 영역01</li>
                            <li>푸터 영역02</li>
                        </ul>
                    </div>
                    <div>
                        <h3>사이트</h3>
                        <ul>
                            <li>웹표준 사이트</li>
                            <li>반응형 사이트</li>
                            <li>패럴랙스 사이트</li>
                            <li>포트폴리오 사이트</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-rights">
                    <address>
                        @ 2020 webstoryboy, All rights reserved.
                        <div class="footer-sns">
                            <ul>
                                <li><a href="#" class="ir_pm">페이스북</a></li>
                                <li><a href="#" class="ir_pm">인스타그램</a></li>
                                <li><a href="https://github.com/wonseok22" class="ir_pm">깃허브</a></li>
                                <li><a href="https://recordofwonseok.tistory.com/" class="ir_pm">블로그</a></li>
                            </ul>
                        </div>
                    </address>
                </div>
            </div>
        </footer>
    </div>
    <!-- script -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9072a8bb4b56b5b44afb6d6d37a0b2e7">
    </script>
    <script src="./assets/js/header.js"></script>
    <script>
        const cookies = "<%= cookie %>";
        if (cookies === "false") {
            document.querySelector(".log").innerHTML = "로그인";
            document.querySelector(".log").href = "/login";
        } else {
            document.querySelector(".log").innerHTML = "로그아웃";
            document.querySelector(".log").href = "/logout";
        }
    </script>

</body>

</html>