<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 | Pet Cares</title>

    <!-- css -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/fonts.css">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/signup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- script -->
</head>

<body>
    <div id="wrap">
        <div class="header"></div>
        <div class="container">
            <div class="login-form" >
                <div class="row">
                    <h4>회원가입</h4>
                </div>

                <div class="idForm">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="id" class="id" name="id" placeholder="ID 4~19 Words"/><br />
                </div>

                <div class="row margin emailForm">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="text" style="cursor: auto;" class="email" placeholder="Email" />
                </div>

                <div class="row margin passForm">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" name="password" type="password" class="pw" placeholder="Password"/>
                </div>

                <div class="row margin passForm">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password_a" name="cpassword" type="password"class="pw" placeholder="Password Again"/>
                </div>

                <div class="row">
                    <button type="button" class="btn" onclick='checkPW();'>회원가입</button>
                    <p class="margin">이미 계정을 갖고 계신가요? <a href="./login">지금 로그인하기</a></p>
                </div>
            </div>
        </div>
        <!-- //container -->
        <footer id="footer"></footer>
    </div>

    <!-- script -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9072a8bb4b56b5b44afb6d6d37a0b2e7"></script>
    <script src="./assets/js/header.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        const cookies = "<%= cookie %>";
        if (cookies === "false") {
            document.querySelector(".log").innerHTML = "로그인";
            document.querySelector(".log").href = "/login";
        } else {
            document.querySelector(".log").innerHTML = "로그아웃";
            document.querySelector(".log").href = "/logout";
        }
        function checkPW(){
            var id = $('#id').val();
            var email = $("#email").val();
            var pw = $("#password").val();
            var cpw = $("#password_a").val();

            if (id.length<4 || id.length >=20) alert("ID가 양식에 적합하지 않습니다.");
            else if (pw.length<4 || cpw.length<4 )alert("비밀번호는 4자 이상 입력해주세요");
            else if (pw!==cpw) alert("비밀번호가 일치하지 않습니다.");
            else{
                $.ajax({
                    url : "/signUp",
                    type : "POST",
                    data : {
                        pw :pw,
                        id :id,
                        email : email
                    },
                    success : function (data) {
                        if (data==="중복ID"){
                            alert("이미 존재하는 ID입니다.");
                        }
                        else if(data ==="성공"){
                            alert("정상적으로 회원가입 되었습니다.");
                        }
                    }
                })
            }
        }
    </script>

</body>

</html>