#header {
    border-bottom: 1px solid #000 !important;
    display: grid !important;
    padding: 5px 10px !important;
    min-width: 1200px !important;
    white-space: nowrap !important;
    grid-template-columns: 20% 60% 20% !important;
    background-color: #fff9a4 !important;
}
#header .logo{
    padding: 15px 18px !important; 
}
#header .logo img{
    margin-right: 3px;
    margin-bottom: 10px;
}
#header .logo a{
    font-size: 30px !important;
}
#header .logo a em{
    font-size: 18px !important;
    font-weight: 500 !important;

}
#header .menu {
    text-align: center;
    padding-top: 8px;
}
#header .menu li{
    display: inline-block;
}
#header .menu li a{
    padding: 20px 30px !important;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    font-weight: bold;
}

#header .menu li a:hover{
    background: #f7e781 ;
    text-decoration: none;
    color: #000;
    padding: 15px;
    border-radius: 10px;
}

#header .member{
    text-align: right;
    padding: 16px 18px 6px 18px;
}
#header .member a{
    display: inline-block;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 6px 22px;
    color: #fff;
    background-color: rgb(0, 0, 0);
}
#header .member a:hover { 
    background-color: #fff9c4;
    color: rgb(0, 0, 0);
}
/* //header */

/* contents */
#contents {
    height: 1000px;
    width: 100%;
    background-color: #ffb9b9;    
}

/* map */
#mapwrap{
    margin: 3% auto;
}

/* board */
#contents {
    display: flex;
}
#contents .category {
    width:25%;
    height: 100vh;
    border-right: 1px solid #000;
}
#contents .board {
    width:60%;
    height: 100vh;
    border-right: 1px solid #000;
}
#contents .adding {
    width:15%;
    height: 100vh;
    border-right: 1px solid #000;
}