@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.btn, .btn-default {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: capitalize;
  min-width: 170px;
  padding: 20px 25px;
}

.btn-default {
  background-color: #ff5353;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}

.btn-default:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
}

.btn-round {
  border-radius: 50px;
}

.btn-outline {
  border: 2px solid #fff;
}

.btn:focus, .btn-default:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.icon-left i, .icon-left.btn-default i {
  line-height: .8;
  margin-right: 20px;
}

.icon {
  color: #000;
  display: inline-block;
  font-size: 14px;
}

.icon:hover {
  color: #ff5353;
}

.sec-heading {
  position: relative;
  margin-bottom: 80px;
}

.sec-heading .sec-title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

/******************************* 
 * Header
 */
@media screen and (max-width: 991px) {
  .header .navbar {
    padding: 15px 0;
  }
  .header .navbar .icon {
    padding-bottom: 0;
  }
}

.top-header {
  background-color: #fef7f6;
  padding: 10px 0;
}

.top-header span {
  color: #000;
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

.top-header span:not(:last-child) {
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .top-header {
    display: none;
  }
}

.lang-dropdown {
  display: none;
}

/******************************* 
 * Navigation menu
 */
.navbar {
  padding: 0;
}

.navbar .icon {
  position: relative;
  font-size: 18px;
  padding: 10px;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li a {
  color: #000;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.8;
  padding: 40px 15px;
  text-transform: uppercase;
}

.navbar-nav li a li.current-menu-item a, .navbar-nav li a:hover {
  color: #ff5353;
}

.navbar-nav li .sub-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media screen and (min-width: 992px) {
  .navbar-nav li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    z-index: 9;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav li .sub-menu {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav li .sub-menu a {
    padding: 20px;
  }
}

.navbar-nav li .sub-menu a:hover {
  background-color: #f5f5f5;
}

@media screen and (min-width: 992px) {
  .navbar-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .navbar-nav li a {
    padding: 20px 35px;
  }
  .navbar-nav li a:hover {
    background-color: #f5f5f5;
  }
}

@media screen and (max-width: 575px) {
  .navbar-nav li a {
    padding: 20px 15px;
  }
}

#mobile-menu-toggler {
  color: #000;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

#mobile-menu-toggler:hover {
  color: #000;
}

@media screen and (min-width: 992px) {
  #mobile-menu-toggler {
    display: none;
  }
}

.menu-dropdown {
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 991px) {
  .menu-dropdown {
    font-size: 16px;
    right: 35px;
    top: 15px;
    -webkit-transform: none;
            transform: none;
  }
}

.itemCount {
  position: absolute;
  background-color: #ff5353;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 8px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

/******************************* 
 * Banner Section
 */
#banner .ban-img{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/Frame31.png);
}

/* footer */

#footer{
  background-color: #ffffdf;
  width: 100%;
  height: 500px;
}
#footer .container h3{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
}
#footer .footer-wrap {
  display: flex;
}

#footer .footer-wrap {
  padding-top: 100px;
  border-bottom: 1px solid #000;
  padding-bottom: 72px;
  justify-content: space-between;
}

#footer .container ul{
  line-height: 1.6;
}

#footer .container li{
  font-size: 16px;
}
#footer address {
  text-align: center;
  margin-top: 50px;
}